@media screen and (max-width: 750px) and (min-width:350px) 
    {
.card{
    margin-top: 60px;
    border: 2px solid blue;
    width: 45%;
    padding: 30px;
    position: absolute;
    top: 15%;
    left: 20%;
    border-radius: 10px;
    justify-content: right;
}
.h1{
    display: flex;
}
    }




@media screen and (max-width:2050px) and (min-width:750px)
{
    .card{
        margin-top: 60px;
        border: 2px solid blue;
        width: 450px;
        padding: 45px;
        position: absolute;
        top: 15%;
        left: 18%;
        border-radius: 10px;
    }
}
.box{
    width: 90%;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}
.btn{
    width: 100px;
    height: 35px;
    font-size: 24px;
    background-color: darkgreen;
    color: white;
    margin-top: 6px;
    border-radius: 5px;
}
.h1{
    text-align: center;
}
